# Dart
packages
*.dart.js
*.dart.js.deps
*.dart.js.map

# GWT
# I'm leaving the *.jar files in Git since this project doesn't use Maven.
*.class
*.war
gwt/GwtApplication/.gwt
gwt/GwtApplication/gwt-unitCache
gwt/GwtApplication/war/WEB-INF/classes
gwt/GwtApplication/war/WEB-INF/deploy
gwt/GwtApplication/war/gwtapplication